<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Markboard</a>
      <a class="btn btn-success btn-small" href="/pages/new">
        <i class="icon-plus icon-white"></i> New Page
      </a>
      
      <a class="btn btn-small" href="/pages">
        <i class="icon-list-alt"></i> All Pages
      </a>
    </div>
  </div>
</div>