<div class="well sidebar-nav">
  <ul class="nav nav-list">
    
    <% if not @recent_pages.empty? %>
        <li class="nav-header">Recent Pages</li>
    <% end %>
    <% @recent_pages.each do |page| %>
        <% if @page && @page.id == page.id %>
            <li class="active"><%= link_to page.title, page %></li>
        <% else %>
            <li><%= link_to page.title, page %></li>    
        <% end %>
    <% end %>
  </ul>
</div><!--/.well -->
      