// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal .form-actions {
  padding-left: 10px;
}

.form-horizontal .controls {
  margin-left: 0px;
}

.input-markdown {
  width: 679px;
  height: 400px;
  margin-top:10px;
  font-size: 16px;
}

@media (max-width: 480px) {
  .input-markdown {
    width: 270px;
    height: 200px;
    margin-top:10px;
    font-size: 16px;
  }
}

.input-title {
  width: 679px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .input-title {
      width: 270px;
	   font-size: 16px;
	   font-weight: bold;
  }
}

.all-pages-actions {
  display: block;
}

@media (max-width: 480px) {
  .all-pages-actions {
    display: none;
  }
}

@media (max-width: 480px) {
  .sidebar-nav {
    display: none;
  } 
}

@media (max-width: 480px) {
  .navbar .brand {
    font-size: 14px;
    padding-top:12px;
    padding-left:0px;
    margin-left:0px;
  }
}